name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy App to AWS EC2
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to Server
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@${{ secrets.EC2_HOST }} << 'EOF'

          cd ~/fullstack-assignment || git clone ${{ secrets.REPO_URL }} fullstack-assignment
          cd ~/fullstack-assignment

          git pull origin main

          docker-compose down
          docker-compose up -d --build

          EOF
